<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OxiPeru</title>
    
    <link rel="stylsheet" href="WEB/css/normalize.css">;
</head>

<h3>Balones de Oxigeno</h3>
<header class="header" >
    <div class="container">
        <div class="row">
            <div class="four columns">
            <h4><img src="WEB/img/alfersac.jpg" width="30%">alfersac</h4> 
            </div>
            <div class="two columns u-pull-right">
                <ul>
                    <li class="submenu">
                    <img src="WEB/img/bot_icon.jpg" alt="">
                    <div></div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</header>

<body>
    
</body>
</html>