<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OxiPeru</title>
    <link rel="stylesheet" href="WEB/css/skeleton.css">
    <link rel="stylesheet" href="WEB/css/style.css">
    <link rel="stylesheet" href="WEB/css/normalize.css">
</head>
<form>
<h1>Balones de Oxigeno</h1>
<body>
<header class="header" >
    <div class="container">
        <div class="row">
            <div class="four columns">
            <h4><img src="WEB/img/alfersac.jpg" alt="" width="30%"><br>alfersac</h4> 
            </div>
            
            <div class="two columns u-pull-right">
                <ul>
                    <li class="submenu">
                    <img src="WEB/img/bot_icon.jpg" alt="">
                    <div id="carrito">
                        <p class="vacio">carrito vacio</p>
                        <table class="u-full-width">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Plato</th>
                                    <th>precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="WEB/img/platillo1.jpg" width="100">
                                    </td>
                                    <td>Hamburguesa</td>
                                    <td>15 soles</td>
                                    <td><a href="#" class="borrar-platillo">X</a></td>
                                </tr>
                                <tr>
                                    <td>
                                <img src="WEB/img/platillo3.jpg" width="100">
                                </td>
                                <td>sencilla</td>
                                <td>14 soles</td>
                                <td><a href="#" class="borrar-platillo">X</a></td>
                            </tr>
                            </tbody>

                        </table>
                        <a href="#" class="button u-full-width">vaciar carrito</a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="contenido-hero">
                    <h2>prueba una Hamburguesa</h2>
                    <p>todas las hamburguesas a 15 soles</p>
                    <form>
                        <input class="u-full-width" type="text" placeholder="¿que te gusta probar?" id="buscador">
                        <input type="submit" class="submit-buscador">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="barra">
    <div class="container">
        <div class="row">
            <div class="four columns icono icono1">
                <p>100 platillos<br>
                explora los nuevos platillos</p>
            </div>
            <div class="four columns icono icono2">
                <p>chef expertos<br>
                prueba la nueva combinacion</p>
            </div>
            <div class="four columns icono icono3">
                <p>bebida ilimitada<br>
                prueba tus bebida favorita</p>
            </div>
        </div>
    </div>
</div>

<div class="lista-platillos" class="container">
    <h1 class="encabezado">pedidos en linea</h1>
    
    <div class="row">

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo1.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa sencilla</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo2.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa con papa</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo3.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa con helado</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo2.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa sencilla</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo3.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa con papa</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo4.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa con helado</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo5.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa sencilla</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo1.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa con papa</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="WEB/img/platillo2.jpg" class="imagen-platillo u-full-width">
                <div class="info-card">
                    <h4>hamburguesa con helado</h4>
                    <p>bebida ilimitada</p>
                    <img src="WEB/img/estrellas.png">
                    <p class="precio">50 soles <span class="u-pull-right">15 soles</span></p>
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <nav class="menu">
                    <a class="enlace" href="#">pedidos a domicilio</a>
                    <a class="enlace" href="#">pedidos en linea</a>
                    <a class="enlace" href="#">pedidos por telefono</a>
                    <a class="enlace" href="#">menu</a>
                    <a class="enlace" href="#">Bebidas</a>
                </nav>
            </div>
            <div class="four columns">
                <nav class="menu">
                    <a class="enlace" href="#">restaurante</a>
                    <a class="enlace" href="#">ubicacion</a>
                    <a class="enlace" href="#">telefono</a>
                </nav>
            </div>

        </div>
    </div>

</footer>
</body>
</form>
</html>