<!DOCTYPE html>
<html  lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/main/resources/templates/contacto/estilo.css">
    <title> Formulario Registro OXIPERU </title>
  </head>
  
<body>
        
        <section class="form-register">
            <h4>Formulario Registro OXIPERU</h4>
        <form th:object="${contacto}" th:action="@{/contacto/create}" method="post">
            <div class="form-group has-feedback">
                <input class="controls" type="text" th:field="*{nombre}" placeholder="Ingrese su Nombre"/>
                <input class="controls" type="email" th:field="*{email}" placeholder="Ingrese su Email"/>
                <input class="controls" type="password" th:field="*{contraseña}" placeholder="Ingrese su Contraseña"/>
                <input class="controls" type="number" th:field="*{dni}"placeholder="Ingrese su DNI"/>
            </div>

            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="Registrar">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
           <button
            class="btn btn-default" type="submit" th:text="${text}"> 
        Registrar  </button>

        </div>
        </div>
    </form>
    <p th:text="${mensaje}" />
</section>

            

</body>

</html>