
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OxiPeru</title>
    <link rel="stylesheet" href="WEB/css/skeleton.css">
    <link rel="stylesheet" href="WEB/css/style.css">
    <link rel="stylesheet" href="WEB/css/normalize.css">
</head>
<form>
<h4 >Balones de Oxigeno<img src="WEB/img/bot_icon.jpg" alt=""></h4>

<body>
<header class="header" >
    <div class="container">
        <div class="row">
            <div class="four columns">
            <h1 class="tienda">SUCURSALES</h1> 
            </div>
            
            <div class="two columns u-pull-right">
                <ul>
                    <li class="submenu">
                    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="barra">
    <div class="container">
        
    </div>
</div>

<div class="lista" class="container">
    <h1 class="encabezado">pedidos en linea</h1>
    
    <div class="row">

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/alfersac.jpg" class="imagen-balon u-full-width" >
                <div class="info-card">
                    <h4>Alfersac</h4>
                   
                    <img src="WEB/img/estrellas.png">
                    
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">INGRESAR</a>
                </div>
            </div>
        </div>

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/oxigYderiv.jpg" class="imagen-balon u-full-width">
                <div class="info-card">
                    <h4>Oxigenos y Derivados SRL</h4>
                    
                    <img src="WEB/img/estrellas.png">
                    
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">INGRESAR</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="WEB/img/hinoz.PNG" class="imagen-balon u-full-width">
                <div class="info-card">
                    <h4>Oxigenos Hinostroza</h4>
                 
                    <img src="WEB/img/estrellas.png">
                   
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">INGRESAR</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">

        <div class="four columns">
            <div class="card">
                <img src="WEB/img/NOVOBARIC.JPG" class="imagen-balon u-full-width" height="260">
                <div class="info-card">
                    <h4>    NOVOBARIC</h4>
                    
                    <img src="WEB/img/estrellas.png">
                   
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">INGRESAR</a>
                </div>
            </div>
        </div>
<br>
        <div class="four columns">
            <div class="card">
                <img src="WEB/img/Alquimedic.PNG" class="imagen-balon u-full-width" height="230">
                <div class="info-card">
                    <h4>   Alquimedic</h4>
                   
                    <img src="WEB/img/estrellas.png" >
                   
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">INGRESAR</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="WEB/img/oxigenFAL.JPG" class="imagen-balon u-full-width" height="230">
                <div class="info-card">
                    <h4>        Oxigeno FAL</h4>
                    
                    <img src="WEB/img/estrellas.png">
                   
                    <a href="#" class="u-full-width button input agregar-carrito" data-id="1">INGRESAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <nav class="menu">
                    <a class="enlace" href="#">pedidos a domicilio</a>
                    <a class="enlace" href="#">pedidos en linea</a>
                    <a class="enlace" href="#">pedidos por telefono</a>
                </nav>
            </div>
            <div class="four columns">
                <nav class="menu">
                    <a class="enlace" href="#">nosotros</a>
                    <a class="enlace" href="#">contactenos</a>
                   
                </nav>
            </div>

        </div>
    </div>

</footer>
</body>
</form>

