<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'sucursal')}">
<head>   
    <!--<link rel="stylesheet" href="WEB/css/skeleton.css">-->
    <link th:rel="stylesheet" th:href="@{/resources/css/estilos.css}" />
    <!--<link rel="stylesheet" href="WEB/css/normalize.css">-->
</head>

<body>  
  
  <center><div class="text-center col-xs-12 " style="background-color:#C1CB82 ; color: #0E1278; opacity: 0.80; width: 1100px;height: 100px;font-size: 70px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Nuestras Tiendas</div></center>

      <div class="container">
        <p th:text="${mensaje}" />
        <div class="row">
          <div class="col">  
                    
                  <div class="card mb-5" style="box-shadow: 7px 7px 5px #aaaaaa;">
                    <div class="card-body">
                      <div class="card-img-actions">
                        <center><img class="img-responsive"  src="../static/resources/images/tienda1.jpg" th:src="@{/resources/images/tienda1.jpg}"width="100%" height="100%"></center>
                      </div>
                    </div>
                    <div class="card-body">
                      <center><h5 class="card-title">Tienda 1</h5></center>
                      <center><p class="card-text" style="font-size: 30px;"><b>Oxigenonarva</b></p></center>
                      <center><a class="btn btn-warning" href="/catalogo/index" role="button" style="background-color: rgb(189, 184, 184);border: none;border-radius: 6px;padding: 10px;width: 180px;">Ir a la Tienda</a></center>
                    </div>
                  </div>      
                  <div class="card mb-5" style="box-shadow: 7px 7px 5px #aaaaaa;">
                    <div class="card-body">
                      <div class="card-img-actions">
                        <center><img class="img-responsive"  src="../static/resources/images/tienda2.jpg" th:src="@{/resources/images/tienda2.jpg}"width="100%" height="100%"></center>
                      </div>
                    </div>
                    <div class="card-body">
                      <center><h5 class="card-title">Tienda 2</h5></center>
                      <center><p class="card-text" style="font-size: 30px;"><b>Alfersac</b></p></center>
                      <center><a class="btn btn-warning" href="/catalogo/index" role="button" style="background-color: rgb(189, 184, 184);border: none;border-radius: 6px;padding: 10px;width: 180px;">Ir a la Tienda</a></center>
                    </div>
                  </div>  
                  <div class="card mb-5" style="box-shadow: 7px 7px 5px #aaaaaa;">
                    <div class="card-body">
                      <div class="card-img-actions">
                        <center><img class="img-responsive"  src="../static/resources/images/tienda3.jpg" th:src="@{/resources/images/tienda3.jpg}"width="100%" height="100%"></center>
                      </div>
                    </div>
                    <div class="card-body">
                      <center><h5 class="card-title">Tienda 3</h5></center>
                      <center><p class="card-text" style="font-size: 30px;"><b>Alquimedic</b></p></center>
                      <center><a class="btn btn-warning" href="/catalogo/index" role="button" style="background-color: rgb(189, 184, 184);border: none;border-radius: 6px;padding: 10px;width: 180px;">Ir a la Tienda</a></center>
                    </div>
                  </div>  
                  <div class="card mb-5" style="box-shadow: 7px 7px 5px #aaaaaa;">
                    <div class="card-body">
                      <div class="card-img-actions">
                        <center><img class="img-responsive"  src="../static/resources/images/tienda5.jpg" th:src="@{/resources/images/tienda5.jpg}"width="100%" height="100%"></center>
                      </div>
                    </div>
                    <div class="card-body">
                      <center><h5 class="card-title">Tienda 4</h5></center>
                      <center><p class="card-text" style="font-size: 30px;"><b>Aranda</b></p></center>
                      <center><a class="btn btn-warning" href="/catalogo/index" role="button" style="background-color: rgb(189, 184, 184);border: none;border-radius: 6px;padding: 10px;width: 180px;">Ir a la Tienda</a></center>
                    </div>
                  </div> 
                  <div class="card mb-5" style="box-shadow: 7px 7px 5px #aaaaaa;">
                    <div class="card-body">
                      <div class="card-img-actions">
                        <center><img class="img-responsive"  src="../static/resources/images/tienda6.jpg" th:src="@{/resources/images/tienda6.jpg}"width="100%" height="100%"></center>
                      </div>
                    </div>
                    <div class="card-body">
                      <center><h5 class="card-title">Tienda 5</h5></center>
                      <center><p class="card-text" style="font-size: 30px;"><b>Cxybarika</b></p></center>
                      <center><a class="btn btn-warning" href="/catalogo/index" role="button" style="background-color: rgb(189, 184, 184);border: none;border-radius: 6px;padding: 10px;width: 180px;">Ir a la Tienda</a></center>
                    </div>
                  </div>  
                  <div class="card mb-3" style="box-shadow: 7px 7px 5px #aaaaaa;">
                    <div class="card-body">
                      <div class="card-img-actions">
                        <center><img class="img-responsive"  src="../static/resources/images/tienda7.jpg" th:src="@{/resources/images/tienda7.jpg}"width="100%" height="100%"></center>
                      </div>
                    </div>
                    <div class="card-body">
                      <center><h5 class="card-title">Tienda 6</h5></center>
                      <center><p class="card-text" style="font-size: 30px;"><b>Cima</b></p></center>
                      <center><a class="btn btn-warning" href="/catalogo/index" role="button" style="background-color: rgb(189, 184, 184);border: none;border-radius: 6px;padding: 10px;width: 180px;">Ir a la Tienda</a></center>
                    </div>
                  </div>   
                             
          </div>
        </div>
      </div>
</body>
