<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body> 
    <CEnter><div class="col-12">       
        <p>&nbsp;</p>       
      </div></CEnter>
    <img class="img-responsive" src="../static/resources/images/imgpw.jpg" th:src="@{/resources/images/imgpw.jpg}"width="100%" height="100%">
    <CEnter><div class="col-12">       
        <p>&nbsp;</p>       
      </div></CEnter>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="p-3 mb-2 bg-info text-white">
            <center><p>Somos un grupo de jovenes universitarios que distribuyen y comercializan de las diferentes sucursales asociadas, 
               los productos  medicinales fabricados con la máxima calidad, ayudandote a conseguir los recursos necesarios para 
               afrontar este mal momento por el que todos estamos pasando.</p></center>
            </div>
        </div>
    </div>
    <!--<img class="img-responsive" src="../static/resources/images/img11.jpg" th:src="@{/resources/images/img11.jpg}"width="100%" height="100%">-->
         
</body>
<!---->
</html>